@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

/* fonts from Google and picking colors*/

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}

/* CSS reset hack to keep it the same between devices */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

html,
body,
main {
  height: 100%; /* useful hack for mobile devices */
  background-color: #1a2a32;
}

body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Shared utility classes */

button:hover {
  opacity: 90%;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.yellow {
  color: var(--yellow);
}

.turquoise {
  color: var(--turquoise);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.border {
  border: 3px solid rgba(211, 211, 211, 0.4) !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px; /* first row 50px tall, repeat 3 times 80px tall, final row 60px tall */
  gap: 5px;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px; /* first row 50px tall, repeat 3 times 80px tall, final row 60px tall */
    gap: 5px;
  }
}

.turn {
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  align-items: center;
  gap: 20px;
}

@keyframes turn-text-animation {
  0% {
    opacity: 0%;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translate(0px);
  }
}

.turn p {
  font-size: 14px;
  animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1) rotate(0deg);
  }
  33% {
    transform: scale(1.3) rotate(15deg);
  }
  66% {
    transform: rotate(-15deg);
  }
  100% {
    transform: scale(1);
  }
}

.turn i {
  font-size: 1.8rem;
  margin-left: 10px;
  animation: 0.6s ease-in-out turn-icon-animation;
}

.square {
  height: 100%;
  width: 100%;

  background-color: var(--gray);
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .square {
    font-size: 3rem;
  }
}

.square:hover {
  opacity: 90%;
  cursor: pointer;
}

.score {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.score p {
  font-size: 14px;
  font-weight: 600;
}

.score span {
  font-size: 12px;
  margin-top: 2px;
}
